<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="Database" connectionString="Data Source=.\XTJT;Database=MakeMoney;User id=sa;PWD=love1314" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--易码-->
    <add key="Yima_username" value="zxxtjt"/>
    <add key="Yima_password" value="love1314"/>

    <!--若快-->
    <add key="Ruokuai_username" value="zxxtjt"/>
    <add key="Ruokuai_password" value="love1314"/>
    <add key="Ruokuai_softid" value="105112"/>
    <add key="Ruokuai_softkey" value="2bafb13954b24e978ca43cca593dd8c8"/>

  </appSettings>
</configuration>