<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--<connectionStrings>
    <add name="strCon" connectionString="server=127.0.0.1;user id=sa; password=csw; database=testDB;"/>
  </connectionStrings>-->
  <appSettings>

    <!--易码-->
    <add key="Yima_username" value="zxxtjt"/>
    <add key="Yima_password" value="love1314"/>

    <!--若快-->
    <add key="Ruokuai_username" value="zxxtjt"/>
    <add key="Ruokuai_password" value="love1314"/>
    <add key="Ruokuai_softid" value="105112"/>
    <add key="Ruokuai_softkey" value="2bafb13954b24e978ca43cca593dd8c8"/>

  </appSettings>
</configuration>